

body {
    display: grid;
    justify-content: center;
    background-color: #e6ffe6;
    flex-direction: space-between; 
    
  }
  .navi {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
  }
  .nav-link {
    list-style-type: none;
  }
  .text {
    font-family: verdana;
    text-align: justify;
  }
  .logo {
   width: 150px;
   height: 80px;
   justify-content: space-between;
  }
  #gridwrap {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 350px 100px;
  grid-auto-rows: minmax(70px, auto);
  grid-column-gap: 8px;
  grid-row-gap: 5px;
  }
  
  div {
    padding: 10px;
    border: 2px solid #003300;
    border-radius: 15% 15% 15%;
    background-color: #ccffcc;
  }
  
  @media (max-width: 850px) {
    body {
      width: 100%;
    }
    footer > img {
      max-width: 80px;
    }
  }