
body {
    display: grid;
    justify-content: center;
    background-color: #FFE4C4;
    flex-direction: space-between;
    
  }
  .navi {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  .logo {
   width: 150px;
   height: 80px;
   justify-content: space-between;
  }
  #gridwrap {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 350px 100px;
  grid-auto-rows: minmax(70px, auto);
  grid-column-gap: 8px;
  grid-row-gap: 5px;
  
  }
  
  div {
    padding: 10px;
    border: 1px solid;
    background-color: white;
  }
  @media (max-width: 850px) {
    body {
      width: 100%;
    }
    footer > img {
      max-width: 80px;
    }
}